.app {
  padding: 15px;
  background-color: #fcfcfc;
  min-height: 100vh;
}

.editor {
  width: 100%;
  max-width: 700px;
  padding: 0 8px 100px;
  margin: 0 auto;
  line-height: 1.5;
}

.editor h1 {
  line-height: 1.1;
}

.editor ol, .editor ul {
  padding-left: 22px;
}

.editor ol li, .editor ul li {
  padding-left: 8px;
}
.editor blockquote {
  margin-left: 2px;
  margin-right: 0;
  padding-left: 26px;
  border-left: 3px solid #C1C7D0;
  color: #7A869A;
}

.toolbar-menu .material-icons {
  font-size: 20px;
  vertical-align: text-bottom;
}

.menu > * + * {
  margin-left: 4px;
}

.menu > * {
  display: inline-block;
}

.toolbar-menu .button {
  padding: 8px 20px 9px;
  color: #C1C7D0;
  cursor: pointer;
  transition: 300ms all ease
}

.toolbar-menu .button:hover {
  color: #8993A4;
}

.toolbar-menu .button[data-active='true'] {
  color: #0065FF ;
}

.toolbar-menu {
  padding: 0 6px 8px;
  border-top: 1px solid #DFE1E5;
  border-bottom: none;
  background: #FCFCFC;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 400;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
}

.toolbar-menu .search {
  position: relative;
}

.toolbar-menu .search-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #ccc;
}

@media screen and (min-width:700px) {
  .toolbar-menu {
    padding: 4px 18px;
    border-bottom: 1px solid #DFE1E5;
    border-top: none;
    top: 0;
    bottom: auto;
    justify-content: center;
  }

  .editor {
    padding: 50px 15px 75px;
    line-height: 1.75;
  }
}

.check-list-item {
  padding: 2px;
  display: grid;
  grid-template-columns: 28px 1fr 25px;
}

.check-list-item:hover {
  background-color: #F4F5F7
}

.check-list-item.checked .check-list-content {
  color: #7A869A;
  text-decoration: line-through;
}

.check-list-content.placeholder::before {
  content: "Do something awesome today";
  display: block;
  position: absolute;
  color: #C1C7D0;
  pointer-events: none;
}

.check-list-item .edit {
  display: none;
  cursor: pointer;
  vertical-align: text-bottom;
}

.check-list-item:hover .edit {
  color: #C1C7D0;
  display: block;
  position: relative;
  top: 3px;
}

.checkbox {
  cursor: pointer;
}

.checkbox::after {
  display: inline-block;
  background-size: 16px 16px;
  content: url("assets/icons/icon-round-check.svg");
  width: 16px;
  height: 16px;
  position: relative;
  left: 2px;
  top: 2px;
}

.checkbox.checked::after {
  display: inline-block;
  background-size: 16px 16px;
  content: url("assets/icons/icon-round-checked.svg");
  width: 16px;
  height: 16px;
  position: relative;
  left: 2px;
  top: 2px;
}